.modal-fullscreen {
    width: 80%;
    height: 80%;
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    padding: auto;
  }

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }